<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>みんなの人狼</title>
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/cerulean/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/werewolf.css" rel="stylesheet">
    <!-- <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
      (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript'; po.async = true;
        po.src = 'https://plus.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
      })();
    </script>
  </head>
  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">
              <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-fire"></span></a>
              <span class="navbar-brand">{% block header_title %}{% endblock %}</span>
          </div>
      </nav>

      <!-- Begin page content -->
      <div class="container-fluid">
        {% block container %}{% endblock %}
      </div>

      <nav class="navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
          {% block bottom %}{% endblock %}
        </div>
      </nav>
    </div>

<!--
    <div id="footer">
      <div class="container-fluid">
        <p class="text-muted credit">Junya Hayashi 2014.</p>.
      </div>
    </div>
-->

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/static/js/werewolf.js"></script>
    <script type="text/javascript">
    {% block javascript %}
      $(document).ready(function() {
        $('#disconnect').click(werewolf.disconnect);
      });
    {% endblock %}
    </script>
  </body>
</html>
