<div class="container-fluid">
  <p id="msg"></p>
</div>
<input id="nickname" type="text" class="form-control" placeholder="ニックネーム" value="{{ user.name }}">
<br>
<button id="update-button" type="button" class="btn btn-primary btn-lg btn-block">更新</button>
