  <div class="col-md-12">
    <div class="col-md-12 panel panel-default">
      みんなの人狼へようこそ。<br />
      <ul>
        <li><a href="/village/list">村のみんなに会いに行く</a></li>
        <li><a href="/account/nickname">ニックネームを設定する</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-12">
    <button id="disconnect" style="display:none" class="btn btn-default navbar-btn">
      Logout
    </button>
    <button id="google-login" class="btn btn-default navbar-btn">
      Google アカウントでログイン
    </button>
  </div>

  <div id="result" style="display:none">
    <h3>認証ログ</h3>
    <pre id="auth-result"></pre>
    <pre id="werewolf-auth-result"></pre>
  </div>
