  <div class="col-md-12">
    <div class="col-md-12 panel panel-default">
      みんなの人狼へようこそ。<br />
      <a href="/village/list">村のみんなに会いに行きましょう。</a>
    </div>
  </div>

  <div class="col-md-12">
    <button id="disconnect"
            style="display:none"
            class="btn btn-default navbar-btn">Logout</button>
    <span id="g-connect" style="display:none">
      <span class="g-signin"
            data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.profile openid email"
            data-requestvisibleactions="http://schemas.google.com/AddActivity"
            data-clientId="793850702446.apps.googleusercontent.com"
            data-callback="onGoogleSignInCallback"
            data-theme="dark"
            data-cookiepolicy="single_host_origin">
      </span>
    </span>
  </div>

  <div id="result" style="display:none">
    <h3>認証ログ</h3>
    <pre id="auth-result"></pre>
    <pre id="werewolf-auth-result"></pre>
  </div>
