<div class="container-fluid">
  <div class="col-xs-12">※ 使い方は @help で確認してください。メッセージの永続化は未実装です。</div>
  <div class="col-xs-12" id="message_area"></div>
</div>

<nav class="navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <div class="col-xs-12">
      <div class="row input-group">
        <input id="input-text" type="text" class="form-control">
        <span class="input-group-btn">
          <button id="send" class="btn btn-default" type="button">送信</button>
        </span>
      </div>
    </div>
  </div>
</nav>
