{% extends "base.html" %}

{% block header_title %}{{ village.name }}{% endblock %}

{% block container %}
  <div class="col-md-12" id="message_area"></div>
{% endblock %}

{% block bottom %}
  <div class="col-md-12">
    <div class="row input-group">
      <input id="input-text" type="text" class="form-control">
      <span class="input-group-btn">
        <button id="send" class="btn btn-default" type="button">送信</button>
      </span>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  var village_id = "{{ village.identity }}";

  function joinToVillage() {
    werewolf.joinToVillage(village_id);
  }
  $(document).ready(function() {
    $('#disconnect').click(werewolf.disconnect);
    $('#joinToVillage').click(joinToVillage);
  });

  var access_token = localStorage.getItem("access_token");
  var ws = new WebSocket("ws://" + location.host + "/websocket?access_token=" + access_token + "&village_id=" + village_id);
  ws.onopen = function() {
  };
  ws.onmessage = function (evt) {
    var data = JSON.parse(evt.data);
    var message = $("<div>").addClass("col-md-12").append(
      $("<div>")
        .addClass("row sender")
        .css({"color": data.sender_color})
        .text(data.sender_name)
    ).append(
      $("<div>")
        .addClass("row message")
        .css({"border-color": data.sender_color})
        .html(
          nl2br(escapeHtml(data.content))
        )
    );
    $('#message_area').append(message);
    scrollToBottom();
  };

  function scrollToBottom() {
    window.scrollTo(0, document.body.scrollHeight);
  }

  function sendByWebsocket() {
    var msg = $('#input-text').val();
    msg = jQuery.trim(msg);
    if (msg.length > 0) {
      ws.send(msg);
    }
    $('#input-text').val("");
  };

  function nl2br(str) {
    return str.replace(/(\r\n|\r|\n)/g, '<br />');
  }

  function escapeHtml(str) {
    return $('<div>').text(str).html();
  }

  $("#input-text").focus();

  $("#input-text").keyup(function(event) {
    if (event.keyCode == 13) {
      $("#send").click();
    }
  });

  $("#send").click(sendByWebsocket);


{% endblock %}
