{% extends "base.html" %}

{% block container %}
  <div class="page-header">
    <h1>{{ village.name }}</h1>
    <p>
      この村の定員は3人です。ただの村人（1人）のほかに、狂人（1人）、人狼（1人）が混じっています。<br />
      みんなで協力して人狼を見つけて吊りましょう。
    </p>
    <div class="row">
    {% for resident in resident_list %}
      <div class="col-md-3">
        <strong>{{ resident.player.user.name }}</strong>
      </div>
    {% endfor %}
    </div>
  </div>
  <div id="join">
    <button type="button" class="btn btn-default" id="joinToVillage">参加する</button>
  </div>
  <div id="joined" style="display:none">
    <strong>参加中</strong>
  </div>
  <p id="error" style="display:none"></p>
  <h3>チャット</h3>
  <div id="message_area" style="width: 800px;">
  </div>

  <div class="input-group">
    <form>
      <input id="input_text" type="text" class="form-control">
      <button id="send" class="btn btn-default" type="button">送信</button>
    </form>
  </div>

{% endblock %}

{% block javascript %}
  function joinToVillage() {
    werewolf.joinToVillage("{{ village.identity }}");
  }
  $(document).ready(function() {
    $('#disconnect').click(werewolf.disconnect);
    $('#joinToVillage').click(joinToVillage);
  });

  var access_token = localStorage.getItem("access_token");
  var ws = new WebSocket("ws://werewolf.example.com:8000/websocket?access_token=" + access_token);
  ws.onopen = function() {
  };
  ws.onmessage = function (evt) {
     $('#message_area').append($("<p></p>").text(evt.data));
  };

  function sendByWebsocket() {
    ws.send($('#input_text').val());
    $('#input_text').val("");
  };

  $("#send").click(sendByWebsocket);


{% endblock %}
