<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>みんなの人狼</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/werewolf.css" rel="stylesheet">
  </head>
  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <nav id="header-container" class="navbar navbar-default navbar-fixed-top" role="navigation">
      </nav>

      <div id="body-container"></div>

    </div>

    <script src="https://plus.google.com/js/client:plusone.js" async></script>
    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/bower_components/lodash/dist/lodash.js"></script>
    <script src="/bower_components/underscore.string/lib/underscore.string.js"></script>
    <script src="/bower_components/nsjs/ns.js"></script>
    <script src="/bower_components/moment/min/moment-with-locales.js"></script>
    <script src="/bower_components/bacon/dist/Bacon.js"></script>
    <script src="/bower_components/bacon.model/dist/bacon.model.js"></script>
    <script src="/bower_components/bacon.jquery/dist/bacon.jquery.js"></script>
    <script src="/bower_components/bacon.matchers/bacon.matchers.js"></script>
    <script src="/bower_components/handlebars/handlebars.runtime.js"></script>
    <script src="/bower_components/socket.io-client/dist/socket.io.js"></script>
    <script>WEB_SOCKET_SWF_LOCATION="/bower_components/socket.io-client/dist/WebSocketMain.swf";</script>

    <script src="/scripts/model.js"></script>
    <script src="/scripts/templates.js"></script>
    <script src="/scripts/router.js"></script>
    <script src="/scripts/view.js"></script>
    <script src="/scripts/auth.js"></script>
    <script src="/scripts/werewolf.js"></script>
    <script src="/scripts/model/user.js"></script>
    <script src="/scripts/model/village.js"></script>
    <script src="/scripts/repository/user.js"></script>
    <script src="/scripts/repository/village.js"></script>
    <script src="/scripts/view/header.js"></script>
    <script src="/scripts/view/top.js"></script>
    <script src="/scripts/view/account.js"></script>
    <script src="/scripts/view/village.js"></script>
  </body>
</html>
